/*
Write your names here:
1. Emily
2. Coline
We spent [1.5] hours on this challenge.

I(Emily) feel a little more confident with my CSS abilities after this challenge, I always do when I have the opportunity to play in a sandbox-like environment. I also feel confident because I spent some time today watching lecures about CSS and playing with the Codeacademy CSS modules, so my understanding of best practices is unusually sharp.
*/


.column-1 {
  background-color: grey;
  float: left;
  font-family: cursive;
}

section {
  width: 40%;
  border: 10px black solid;
  border-radius: 8px;
  padding: 10px;
}

footer {
  clear: both;
}


.column-2 {
  background-color: grey;
  float: right;
  font-family: helvetica;
}